.container {

    .swiperContainer {
        @apply flex items-center relative;

        .swiper {
            @apply my-2 border max-w-full;

            .slide {
                @apply cursor-pointer;
                max-height: 800px;

                img {
                    @apply h-full w-full;
                }
            }
        }

        .btn {
            @apply absolute z-20 border-0 bg-gray-700 rounded-xl m-0;
            width: 40px;
            height: 70px;
            svg {
                width: 40px;
                height: 40px;
            }
            &:disabled {
                opacity: 70%;
            }
        }

        .leftSwiperBtn {
            @apply left-0 ml-2
        }
        .rightSwiperBtn {
            @apply right-0 mr-2;
        }

    }

}
