.pagination {
    --size: 40px;
    @apply flex items-center w-fit rounded-lg overflow-hidden my-4;
    box-shadow: inset 0 0 0 1px gainsboro;
    button {
        width: var(--size);
        height: var(--size);
        @apply flex items-center justify-center hover:bg-red-500 hover:text-white;
        &[disabled] {
            opacity: 0.5;
        }
        svg {
            @apply text-xl;
        }
    }
    span {
        height: var(--size);
        @apply w-[40px] flex items-center justify-center;
    }
    .pages {
        @apply border-l border-r w-[60px];
    }
}