nav {
    .top {
        @apply border-b p-2;
        div {
            @apply flex items-center justify-between;
        }
        &Icons {
            svg {
                cursor: pointer;
                width: 20px;
                height: 20px;
                margin-left: 5px;
            }
        }
    }
    .bottom {
        @apply border-b;

        @media (max-width: 600px) {
            display: none;
        }
        div {
            ul {
                @apply flex items-center justify-center;
                li {
                    @apply p-2;
                    a {
                        &:hover {
                            @apply text-red-500;
                        }
                    }
                }
            }
        }
    }
}

.isActive {
    @apply text-red-500;
}