nav {
    @apply w-full flex flex-col;
    .top {
        @apply flex items-center justify-between py-2;

        ul {
            @apply flex items-center;

            @media (max-width: 600px) {
                @apply hidden;
            }

            a {
                @apply uppercase;
                li {
                    @apply p-2 transition-all border-b-0 hover:border-b-2 hover:border-red-500;
                }
            }
        }


        &Right {
            @apply flex items-center;
            .iconGroup {
                @apply flex items-center;
                a {
                    @apply flex items-center justify-center;
                }
                svg {
                    @apply ml-2 cursor-pointer;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.section {
    @apply w-full border-b;
}

.activeLink {
    color: var(--color-red);
}