.filter {
    @apply flex flex-col;
    &Top {
        @apply flex items-center justify-between my-2;
        span {
            @apply font-medium;
        }
        svg {
            @apply transition-all rotate-180 cursor-pointer;
            width: 20px;
            height: 20px;
        }
    }
    &Content {
        @apply w-full overflow-auto;
        max-height: 600px;
    }
}
.filterActive {
    .filterTop {
        svg {
            @apply rotate-0;
        }
    }
    .filterContent {
        @apply hidden;
    }
}