.logo {
    span {
        @apply text-3xl relative flex items-center justify-center font-medium my-2;

        @media (max-width: 630px) {
            @apply text-2xl;
        }
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 80px;
            height: 100%;
            background-color: red;
            border-radius: 50%;
        }
    }
}