.card {
    @apply flex items-center justify-between p-2 border rounded mb-2;

    &Left {
        img {
            width: 100px;
            height: 125px;
        }
    }

    &Right {
        @apply ml-2;
        h2 {
            @apply text-base font-medium;
        }
        h3 {
            @apply mt-2 text-xl font-medium text-sky-800;
        }
    }

    .closeIcon {
        svg {
            @apply mr-2 cursor-pointer;
            width: 20px;
            height: 20px;
        }
    }
}