.footer {
    @apply grid grid-cols-3 gap-4 my-2;

    @media (max-width: 720px) {
        @apply grid grid-cols-1;
    }

    .title {
        @apply text-2xl mb-2;

        @media (max-width: 720px) {
            @apply text-xl;
        }

    }

    ul {
        @apply leading-8;

        li {
            @apply flex items-center font-medium;
            a {
                @apply flex items-center text-yellow-400;
                &:hover {
                    text-decoration: underline;
                }
            }
            svg {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }

    &FirstBlock {
        p {
            @apply text-lg font-medium;
        }
    }
}