.container {
    @apply flex flex-col;
    .title {
        @apply text-xl font-medium;
    }
    .list {
        @apply flex flex-col;
        .reviewCard {
            @apply border-t last:border-b;
            div {
                @apply flex items-center py-2;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                h2 {
                    @apply ml-2;
                }
            }
        }
    }
}