.list {
    @apply grid grid-cols-4 gap-4 mt-4;

    @media (max-width: 1300px) {
        @apply grid-cols-3;
    }

    @media (max-width: 1060px) {
        .card {
            img {
                height: 300px;
            }
        }
    }

    @media (max-width: 1000px) {
        .card {
            img {
                height: 360px;
            }
        }
    }

    @media (max-width: 800px) {
        @apply grid-cols-2;
        .card {
            img {
                height: 400px;
            }
        }
    }

    @media (max-width: 560px) {
        .card {
            img {
                height: 360px;
            }
        }
    }

    @media (max-width: 480px) {
        .card {
            img {
                height: 320px;
            }
        }
    }

    @media (max-width: 420px) {
        .card {
            img {
                height: 300px;
            }
        }
    }

    @media (max-width: 380px) {
        .card {
            img {
                height: 260px;
            }
        }
    }
}